
.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.4s ease;
}

.carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carousel-item img {
  max-width: 1000px;
  max-height: 500px;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.carousel-control {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  font-size: 26px;
}
.carousel-caption {
  position: absolute;
  color: #000000;
  bottom: 15px;
}

.carousel-caption h3 {
  font-size: 26px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: #85828274;
}

.carousel-caption h4 {
  font-size: 18px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: #85828274;
}
